<ul>
  <li>City: <%= job.location.city.capitalize %></li>
  <li>Country: <%= job.location.country.capitalize %>
  </li>
  <li>Email: <%= job.email %></li>

  <li>Phone: <%= job.phone_number %></li>
  <li>Problem: <%= job.problem.name %></li>
  <li>Device: <%= job.device.name %></li>
  <li>Model: <%= job.model.name %></li>
  <li>Network: <%= job.network.name %></li>
  <li>Date Completed: </li>
  <li>Date Created: <%= job.created_at %></li>
</ul>

