<div class="col-sm-6">
  <%= image_tag("#{job.model.name.downcase}_large.png") %>
</div>
<div class="col-sm-6"> 
  <div class="meta">
    <div class="job-meta-section page-section">
      <header class="blue-header">
        <h3 class="heading">Contact Info</h3>
      </header>
        <ul>
          <li><%= job.name %></li>
          <li><a href="mailto:<%= job.email %>" target="_blank"><%= job.email %></a></li>
          <li><%= job.pretty_phone_number %></li>
          <li><%= job.location.city.capitalize %>, <%= job.location.country.capitalize %></li>
        </ul>
    </div>
    
    <div class="job-meta-section page-section">
      <header class="blue-header">
        <h3 class="heading">Job Details</h3>
      </header>
        <ul>
        <li><%= job.problem.name %></li>
        <li><%= job.model.name %></li>
        <li><%= job.network.name %></li>
        <li>Created: <%= job.created_at.to_formatted_s(:long_ordinal) %></li>
       
      </ul>
    </div>
    
  </div>
</div>

<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-5">

  <% if job.contractor.nil? %>
    <%= form_tag accept_contractor_job_path(current_contractor, job), class: 'form validate', html: {role: 'form'} do %>
        <div class="form-group">
          <%= submit_tag 'Take Job', class: 'btn btn-primary inputbtn transition' %>
        </div>
      <% end %>
  <% elsif job.contractor == current_contractor %>
    <%= form_tag finish_contractor_job_path(current_contractor, job), class: 'form validate', html: {role: 'form'} do %>
        <div class="form-group">
          <%= submit_tag 'Close Job', class: 'btn btn-primary inputbtn transition' %>
        </div>
      <% end %>
  <% end %>
</div>