<div class="normal-form location-form">
	<div class="form-row">
		<%= text_field_tag "", nil, class: 'autocomplete' %>

		<%= f.fields_for :location do |location| %>
		  <%= location.hidden_field :city,  class: 'city-field' %>
		  <%= location.hidden_field :country, class: 'country-field' %>
		<% end %>
	</div>


	<div class="button-row">
		<%= f.submit "submit", class: "btn btn-primary" %>
	</div>
</div>
