<div class="body-content">
  <div class="section-page-landing">
    <div class="inner-section">
      <div class="container">
        <div class="row">
          <hr class="divider"/>
          <div class="job-progress">
            <% @job.steps.each_with_index do |step, i| %>
              <% current_step_index = @job.steps.index(@job.current_step).to_i %>
              <% if step == @job.current_step %>
                <div class="col-sm-2">
                  <h4 class="shown progress-title">
                    <span class="step-name"><%= "#{i+1}. #{step.upcase}" %></span>
                    <i class="fa fa-caret-right carat"></i>
                  </h4>
                </div>
              <% else %>
                <div class="col-sm-2">
                  <h4 class="progress-title text-primary <% if i == (current_step_index - 1) || i == (current_step_index + 1) %>shown<% end %>">
                    <span class="step-name"><%= "#{i+1}. #{step.upcase}" %></span>
                    <i class="fa fa-caret-right carat"></i>
                  </h4>
                </div>
              <% end %>
            <% end %>
          </div>
          <hr class="divider"/>

          <div class="row job-choices">
            <%= form_for Job.new do |f| %>
              <%= render "/jobs/#{@job.current_step}_step", f: f, job: @job %>

              <% unless @job.first_step? %>
                <div class="change-steps">
                  <div class="col-xs-6 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3">
                    <%= f.button :back, name: "back", value: "true", class: "btn btn-default" %>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-md-3"><%= f.button :restart, name: "restart", value: "true", class: "btn btn-default" %></div>
                </div>
              <% end %>

            <% end %>

          </div>
        </div>
      </div> <!-- .container -->
    </div>
  </div>

  <%= render "/jobs/more_options" %>
</div>

<% if @job.current_step == "location" %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<% end %>
