= form_tag do
  = label_tag :device, "What type of device do you have"
  = select_tag :device, options_for_select( ['Lisbon', 'Madrid'], [1, 2] )

  = label_tag :model, "What type of model do you have"
  = select_tag :model, options_for_select( ['Lisbon', 'Madrid'], [1, 2] )

  = label_tag :problem, "What type of problem do you have"
  = select_tag :problem, options_for_select( ['Lisbon', 'Madrid'], [1, 2] )

  = label_tag :name, "What is your name"
  = text_field_tag :name

  = label_tag :email, "What is your email"
  = text_field_tag :email

  = label_tag :phone_number, "What is your phone number"
  = text_field_tag :phone_number

  %p prefered method of contact

  = radio_button_tag(:sms, "sms")
  = label_tag(:sms, "sms")
  = radio_button_tag(:phone, "phone")
  = label_tag(:phone, "phone")


  = submit_tag
