<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-4">
        <h5>Company</h5>
        <%= link_to "About Us", about_path %><br/>
        <% if current_contractor.nil? %>
            <%= link_to "Technical Login", contractor_session_path %><br/>
            <%= link_to "We're Hiring", new_contractor_registration_path %><br/>
        <% else %>
            <%= link_to "Available Jobs", contractor_path(current_contractor) %><br/>
            <%= link_to destroy_contractor_session_path, method: :delete do %>
              Logout
            <% end %><br/>
        <% end %>
      </div>
      <div class="col-sm-4">
        <h5>Store Hours</h5>
        <p>
          Mon - Fri 11am - 6pm<br />
          Saturday  11am - 4pm<br />
          Sunday    Closed
        </p>
      </div>
      <div class="col-sm-4">
        <h5>Store Location</h5>
        <address>
          <strong>Pineapple Repairs</strong><br>
          Waterfront Station<br>
          25-601 West Cordova Street<br>
          Vancouver, BC, Canada<br>
          Toll Free: 1 (888) 5 REPAIR<br>
          Main Line: 778 889 7642<br>
          <a href="mailto:pineapplerepairs@gmail.com">PineappleRepairs@gmail.com</a>
        </address>
      </div>
    </div>
    <div class="copyright row">
      <div class="col-xs-12">
        &copy; 2011 - <%= Time.now().year %> <%= link_to "Pineapple Repairs", root_path %>
      </div>
    </div>
  </div>
</footer>
<!-- END FOOTER -->

