<!-- NAV MENU WRAPPER FOR FIXED POSITION -->
<div id="nav-menu">
  <!-- NAV MENU CONTAINER -->
  <div class="container">
    <div class="row">

        <div id="logo">
          <h1>
            <a href="/">
              <%= image_tag("logo-trans.png") %>
              PineappleRepairs.
           </a>
           </h1>
        </div>

      <div class="col-xs-8 col-xs-offset-4">

        <!-- NAV MENU -->
        <div class="menus" id="myScrollspy">
          <ul class="nav scroll-nav">
            <li class="active">
              <%= link_to root_path do %>
                <span>Home</span>
              <% end %>
            </li>

            <li>
              <%= link_to jobs_path(restart: true) do %>
                <span>On Demand</span>
              <% end %>
            </li>

            <li>
              <%= link_to about_path do %>
                <span>About Us</span>
              <% end %>
            </li>

            <li>
              <%= link_to repairs_path do %>
                <span>Repairs</span>
              <% end %>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </div>

</div>

