<!-- NAV MENU WRAPPER FOR FIXED POSITION -->
<div id="nav-menu">
  <!-- NAV MENU CONTAINER -->
  <div class="container">
    <div class="row">
        <div id="logo">
          <h1>
            <a href="/">
              <%= image_tag("logo-trans.png") %>
              PineappleRepairs.
           </a>
           </h1>
        </div>

      <div class="col-xs-9 col-xs-offset-4">

        <!-- NAV MENU -->
        <div class="menus" id="myScrollspy">
          <ul class="nav scroll-nav">
            <%= nav_link("Home", root_path) %>
            
            
            <%= nav_link("Repairs", repairs_path) %>
            <%= nav_link("About Us", about_path) %>

            <% if contractor_signed_in? %>
              <li>
              <%= link_to destroy_contractor_session_path, method: :delete do %>
                Logout
              <% end %>
            </li>
              <%= nav_link("Account", contractor_path(current_contractor)) %>
            <% else %>
              <%= nav_link("On Demand", jobs_path(restart: true)) %>
              <%= nav_link("Contractor Login", new_contractor_session_path) %>
            <% end %>
          </ul>
        </div>

      </div>

    </div>

  </div>

</div>

