<!-- NAV MENU WRAPPER FOR FIXED POSITION -->
<div id="nav-menu">
  <!-- NAV MENU CONTAINER -->
  <div class="container">
    <div class="row">
        <div id="logo">
          <a href="/">
            <%= image_tag("logo-trans.png") %>
            PineappleRepairs.
          </a>
        </div>

      <div class="col-xs-9 col-xs-offset-3">

        <!-- NAV MENU -->
        <div class="menus" id="myScrollspy">
          <nav class="navbar" role="navigation">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
              <span class="icon-oxp-nav"></span>
            </button>

            <div id="bs-navbar-collapse-1" class="collapse navbar-collapse">
              <ul class="list-inline nav navbar-nav">
               <!-- <%= nav_link("Home", root_path) %>-->


                <%= nav_link("Repairs", repairs_path) %>
                <%= nav_link("About Us", about_path) %>

                <% if contractor_signed_in? %>
                  <li>
                    <%= link_to destroy_contractor_session_path, method: :delete do %>
                      Logout
                    <% end %>
                  </li>
                  <%= nav_link("Account", contractor_path(current_contractor)) %>
                <% else %>
                  <%= nav_link("On Demand", jobs_path(restart: true)) %>
                <% end %>
              </ul>
            </div>
          </nav>
          <!-- <ul class="nav scroll-nav navbar">

          </ul> -->
        </div>

      </div>

    </div>

  </div>

</div>

