<!-- SECTION SERVICES -->
<div class="section-page-landing" id="repairs">
  <div class="container">
    <div class="row quote">
      <h2 class="text-center">Recieve A Repair Quote in Minutes</h2>
      <div class="col-sm-4"><p><i class="fa fa-2 fa-map-marker"></i>1. Enter Your Location</p></div>
      <div class="col-sm-4"><p><i class="fa fa-2 fa-mobile"></i>2. Choose Device and Issue</p></div>
      <div class="col-sm-4"><p><i class="fa fa-2 fa-phone"></i>3. Talk to Your Local Tech</p></div>
    </div>
  </div>
</div>

<div class="section-page-landing" id="repairs">
  <div class="inner-section">
    <div class="container">
      <h2 class="text-center">What's Broken?</h2>

      <h3 class="text-center">
      	Tell us what the problem is and we'll send someone out to you to fix it!

      </h3>

      <div class="row devices">
        <%= form_for Job.new do |f| %>
          <% @devices.each do |device| %>
            <div class="col-sm-4 device">
              <%= f.button :submit, name: "device_id", value: device.id do %>
                <%= image_tag "devices/#{device.name.downcase}.png" %>
                <span class="btn btn-default"><%= device.name %></span>
              <% end %>
            </div>
          <% end %>
          <%= hidden_field_tag "restart", "true" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- END SECTION SERVICES -->
