<div class="body-content">
	<% content_for(:banner) do %>
		<h2>Contractors</h2>
	<% end %>

	<%= render "contractors/subnav" %>

	<div class="section-page-landing section-grey">
		<div class="inner-section">

			<div class="container">
				<h2>Your Account</h2>
			

				<div class="row">
					<div class="col-sm-6">
						<%= image_tag("contractor.jpg") %>

						<h3>Account Info</h3>
						<ul>
							<li>
								Name: <%= current_contractor.name %>
							</li>
							<li>
								Email: <%= current_contractor.email %>
							</li>
						</ul>
					</div>

					<div class="jobs-current col-sm-6">
						<h3>Current Jobs</h3>
						<%= render partial: "jobs/job_list_item", collection: @jobs_current %>
					</div>
				</div>

				<div class="container">
					<h2>Your Jobs</h2>
				</div>
				<div class="row">

					<div class="jobs-available col-sm-6">
						<h3>Available Jobs</h3>
						<%= render partial: "jobs/job_list_item", collection: @jobs_available %>
					</div>

					<div class="jobs-finished col-sm-6">
						<h3>Finished Jobs</h3>
						<%= render partial: "jobs/job_list_item", collection: @jobs_finished %>
					</div>
				</div>
			</div> <!-- .container -->
		</div> <!-- .inner-section -->




		</div>
	</div>
</div>