<!DOCTYPE html>
<html>
  <head>
  <title>Pineapple Repairs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="If your broke your iPhone, iPod, iPad, Laptop or Desktop, we can help repair it if your in the Vancouver and surrounding areas">
  <meta name="keywords" content="TODO Add KEYWORDS">
  <meta name="author" content="Tulip &amp; O'Grady">

  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

    <%= csrf_meta_tags %>
  </head>

  <body class="tooltips" id="top" data-spy="scroll" data-target="#myScrollspy">

    <header id="header-landing">
      <% flash.each do |key, value| %>
        <div class=<%="flash #{key}"%>>
          <%= content_tag :h3 , value, class: "text-center" %>
        </div>
      <% end %>
      <%= render "shared/menu" %>
    </header>

    <div class="wrapper">
      <div class="body-content">
        <%= yield %>
      </div>
    </div>


    <%= render "shared/footer" %>
  </body>
</html>
